#profileForm{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 40px);
    flex-direction: column;
}

#updateBtn{
    margin: 10px 40px;
}

#adminBtn {
    margin: -10px;
    color: red;
}