#bottomBar{
    position: fixed;
    top: auto;
    bottom: 0;
}

#swipeContainer{
    height: 100vh;
    margin-top: 5vh;
}

#card{
    position: absolute;
    left: 0;
    right: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    width: 80vw;
    max-width: 100%;
    margin: auto;
    border-radius: 20px;
}

#emptyCard{
    position: absolute;
    left: 0;
    right: 0;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../assets/empty.jpg');
    height: 80vh;
    width: 80vw;
    max-width: 100%;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.8);
}

#infoBtn{
    color:rgb(200, 0, 0);
    font-size: 40px;
}

#infoContainer{
    position: absolute;
    top: 5px;
    right: 5px;
}