#loginForm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

#registerBtn {
  margin: 30px;
}

#logBtn {
  margin: 30px;
}

.loginForm {
  min-width: 320px !important;
}
