#products {
    background-color: rgb(43, 45, 66);
    height: calc(100vh - 40px);
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.productImg {
    display: block;
    max-width: 100%;
    height:21vh;
    width: 100%;
    margin: auto;
    object-fit: cover;
    border-radius: 10px;
    background-color: rgb(141, 153, 174);
}

#addProductContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#addProductBtn {
    color: black;
    margin: 5px 40px;
}

#delBtn {
    margin: -10px;
}

.productContainer {
    justify-content: center;
    height: calc(100vh - 40px);
    align-content: center;
}

.MuiGrid-item {
    border: 1px solid gray;
    border-radius: 10px;
    padding: 0 !important;
    margin: 5px !important;
}

.MuiGrid-grid-xs-3 {
    max-width: 30% !important;
    flex-basis: 30% !important;
}

.MuiCircularProgress-root {
    position: fixed;
    left: calc(50% - 50px);
    top: calc(50% - 50px);
}

.MuiGrid-spacing-xs-1 {
    width: 100% !important;
    margin: 0 !important;
}

#bottomBar{
    position: fixed;
    top: auto;
    bottom: 0;
}

.bottomBtn{
    padding: 0 !important;
} 

#addBtn{
    display: flex;
    margin: auto;
    top: 10px;
    height: 5vh;
}

#addProductGrid{
    width: 100px;
    height: 100px;
    color: black;
}

#preview{
    margin-top: 20px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
}

#addProductForm{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 40px);
    flex-direction: column;
}

.productForm{
    min-width: 320px !important;
    width: 30vw;
    margin: 5px 0 !important;
}

#productImg{
    object-fit: contain;
}

#productFormImg{
    width: 30vw;
    max-height: 15vh;
    object-fit: contain;
}

#productDetails{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    height: calc(100vh - 40px);
    justify-content: center;
    width: 80vw;
    max-width: 1500px;
    margin: auto;
}

.productDetail {
    color: #fff;
    margin: 20px 0;
}

#productImg{
    height: 40vh;
    max-width: 100vw;
}

#modifyContainer {
    display: flex;
    justify-content: center;
}

#productDescription {
    overflow: auto;
    max-height: 15vh;
}

#productName {
    max-width: 100vw;
    overflow-x: hidden;
    overflow-wrap: break-word;
}