#products{
    max-height: 100%;
    background-color: rgb(204, 204, 204);
}

.productImg{
    display: block;
    max-width: 100%;
    height:21vh;
    margin: auto;
    object-fit: cover;
}

.MuiGrid-item{
    border: 1px solid gray;
    padding: 0 !important;
}

.MuiCircularProgress-root{
    position: fixed;
    left: calc(50% - 50px);
    top: calc(50% - 50px);
}

#bottomBar{
    position: fixed;
    top: auto;
    bottom: 0;
}

#addBtn{
    display: flex;
    margin: auto;
    top: 10px;
    height: 5vh;
}

#addProductBtn{
    margin: 30px;
}

#preview{
    margin-top: 20px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
}

#addProductForm{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.productForm{
    min-width: 320px !important;
}

#productImg{
    object-fit: contain;
}

#productFormImg{
    height: 200px;
    width: 400px;
    object-fit: contain;
}

#productDetails{
    height: 80vh;
    justify-self: center;
    margin-top: 50vh; 
    transform: translateY(-50%);
}

#productImg{
    height: 50vh;
}