#logo{
    width: 150px;
    margin-bottom: 50px;
}

#registerForm{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.registerForm{
    min-width: 320px !important;
}
